
{% extends 'base.html' %}

{% load widget_tweaks %}

{% block conteudo %}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Usuário</li>
</ol>

<!-- Default form subscription -->
<form class="text-center border border-light p-5" method="post">

    {% csrf_token %}

    <p class="h4 mb-4">Cadastro de usuário</p>

    {{form.non_field_errors}}

    {% for field in form %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{field.id_for_label}}">{{field.label}}</span>
        </div>
        {% render_field field|add_error_class:"is-invalid" aria-describedby+="{{field.id_for_label}}" class+='form-control' %}
      </div>
      <div class="invalid-feedback">
        <!-- {{ field.errors|add_error_class:"invalid-feedback" }} -->
      </div>
      {% if field.errors %}
        <ul class="list-group mt-2 mb-2">
          {% for error in field.errors %}
            <li class="list-group-item"><small class="inputVal text-danger my-5">{{ error|escape }}</small></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}


    <!-- Sign in button -->
    <button class="btn btn-info btn-block" type="submit">Salvar</button>


</form>
<!-- Default form subscription -->


{% endblock %}
