{% extends "base.html" %}

{% block style %}

  .card-img-top{
    max-width: 300px;
    margin: auto;
  }

{% endblock %}

{% load static %}

{% block conteudo %}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Produtos</li>
</ol>

<div class="container">
    <div class="row">
      {% for produto in produtos %}
      <div class="col-lg-4">
        <div class="card">

          <!-- Verificando se existe imagem cadastrada -->
          {% if produto.image %}
            <!-- Card image -->
            <img class="card-img-top" src="{{ produto.image.url}}" alt="{{produto.nome}}">
          {% else %}
              <img class="card-img-top" src="{% static 'img/sem_imagem.png' %}" alt="{{produto.nome}}">
          {% endif %}

          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">
              <h4 class="card-title">{{produto.nome}}</h4>
              </h4>
              <!-- Text -->
              <div class="card-text">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{produto.valor}}
                    <span class="badge badge-primary badge-pill">Valor</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{produto.descricao}}
                    <span class="badge badge-primary badge-pill">Descrição</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a type="button" href="{% url 'view_produto_detalhes' pk=produto.pk %}" class="btn btn-primary "><i class="far fa-arrow-alt-circle-right pr-2" aria-hidden="true"></i>Detalhes</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
